* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.skills__container {
    background-color: #f9f9f9;
}

.icon__img {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.icon__img img {
    width: 50px;
    height: 60px;
}

.icons__text__section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin: auto;
}

.icons__text__section p {
    font-size: 1rem;
    font-weight: 500;
    color: #333;
    margin: 10px 0;
    text-align: center;
}